
.formtable {
	width: 350px;
	padding: 10px;
	border: 1px solid blue;
}

input[type-text] {
	width: 100px;
	margin-right: 10px;
}

textarea {
	width: 200px;
	height: 150px;
	overflow: hidden;
}

.label {
	text-align: left;
	vertical-align: top;
}

.error{
	font-size:small;
	color:red;
}

.valid{
	font-size:small;
	color:green;
}