/******* General ********/
body {
	color: #000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	
}

/******** HEADER ***********/
div.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	height: 160px;
	z-index: 12;
}

.header-inner-div {
	width: 700px;
	margin: 0 auto;
}

div.header-logo {
	float: left;
	margin: 0.5% 0 0.5% 0;
	width: 70%;
}

div.header-logo>a>image {
	cursor: pointer;
}

div.header-buttons {
	width: 29%;
	padding: 2px;
	float: right;
	margin-top: 8%;
}

button.loginBtn {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	cursor: pointer;
	padding: 6px 12px;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	border-color: #0099FF;
	color: #0099FF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.loginBtn:active, .loginBtn:focus, .loginBtn:hover {
	background-image: none;
	border-color: #fff;
	color: #fff;
	outline: thin dotted;
	outline-offset: -3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}
/*
*::-moz-selection {
	background: none repeat scroll 0 0 #0099FF;
	color: #fff;
}

*:before, *:after {
	box-sizing: border-box;
}*/

/********** CONTENT ***********/
div.wrapper {
	position: relative;	
}

div.content {
	width: 700px;
	height:auto;
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 170px auto 80px auto;	
}

.clear:after, .clear:before {
	content: "";
	display:block; 
	height:0;
	overflow:hidden;
}

.clear:after {
	clear:both;
}

.clear:after {
	zoom: 1;
}

div.content .sidemenu-sub {
	float: left;
	width: 24%;
	height: auto;
}

div.content .sidemenu-title {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #0099FF;
	padding: 1px 3px;
	color: #fff;
}

div.content .sidemenu-title-div {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 3px;
}

div.content .sidemenu-tabs {
	margin: 3% 0 0 0;
	padding: 0px 0px 0px 0px;
	border: 1px solid #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #fff;
}

div.content .sidemenu-tabs nav ul {
	list-style: none;
	margin: 0 auto;
	padding-left: 0%;
	display: block;
}

div.content .sidemenu-tabs nav ul li {
	padding-left: 4%;
	padding-right: 4%;
	border-bottom: 1px solid #D2D2E0;
}

/*div.content .sidemenu-tabs nav ul li:last-child{
	padding-left: 4%;
	padding-right:4%;
	border-bottom: none;
}*/
div.content .sidemenu-tabs nav ul li a {
	color: #000;
	display: block;
	padding: 6px 0 6px 8px;
	height: 18px;
	float: left;
	width: 90%;
	font-size: 12px;
	outline: none;
}

.sidemenu-tabs .menu-arrow {
	color: #D2D2E0;
	width: 10%;
	font-size: 20px;
	font-weight: bold;
}

.sidemenu-tabs .side-tabs {
	/*background-color: #75C8FF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;*/
}


.sidemenu-tabs ul li.active a, .highlight{
	background-color: #75C8FF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

/********* Display Popup Messages ***********/
.error {
	font-size: small;
	color: red;
}

.valid {
	font-size: small;
	color: green;
}

/********** FOOTER ***********/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #0099FF;
	width: 100%;
	height: 80px;
}

div.footer-div-inner {
	width: 700px;
	margin: 0 auto;
	color: #fff;
	display: table;
	text-align: center;
}

div.footer-div-inner>p {
	height: 80px;
	vertical-align: middle;
	display: table-cell;
}

div.footer-div-inner>p>a>span {
	color: black;
	font-weight: bold;
}

/*********** For newaccount.jsp **************/
header>h2>span {
	color: #d51341;
	font-family: algerian;
	font-size: 300%;
	line-height: 50%;
	width: 0.8em;
	padding-left: 15px;
}

table.formtable {
	width: 100%;
	border-spacing: 0em 2em;
	table-layout: fixed;
	padding: 0 15px;
}

table.formtable .label {
	width: 30%;
	font-weight: bold;
}

table.formtable .input-td {
	width: 60%;
}

table.formtable .input-data {
	min-width: 95%;
	width: auto;
	height: 20px;
	color: #9e9e9e;
	font-size: 14px;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #6cf;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	line-height: 20px;
}

table.formtable .input-data:focus {
	outline: none;
	border: 1px solid #6cf;
	box-shadow: 0 0 10px #6ab5ff;
	-moz-box-shadow: 0 0 10px #6ab5ff;
	-webkit-border-radius: 0 0 10px #6ab5ff;
}

table.formtable .gender-td {
	width: 100%;
}

table.formtable .gender-male {
	float: left;
	width: 50%
}

table.formtable .gender-female {
	float: right;
	width: 50%
}

.male, .female {
	margin-right: 10px;
}

.country{
	border:1px solid red;
	width: 89%;
	text-align: center;
	font-size: 12px;
	padding: 5px 0px;
	border: 1px solid #6cf;
	font-weight: bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-decoration: none;
	outline: none;
}

.country>option{
	padding: 4px;
}

.button-create {
	float: left;
	width: 50%
}

.button-cancel {
	float: right;
	width: 50%
}

.button-create>input {
	cursor: pointer;
	width: 100%;
	text-align: center;
	font-size: 12px;
	background: #f1f1f1;
	padding: 4px 6px;
	/*border: 1px solid #a4c3ca;*/
	border: 1px solid #6cf;
	font-weight: bold;
	color: #33cc33;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-decoration: none;
	outline: none;
	margin-right: 1px;
}

.button-cancel>a>input {
	cursor: pointer;
	width: 94%;
	text-align: center;
	font-size: 12px;
	background: #f1f1f1;
	padding: 5px 6px;
	border: 1px solid #6cf;
	font-weight: bold;
	color: #d51341;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-decoration: none;
	outline: none;
	margin-left: 1px;
}

.button-create>input:hover, .button-cancel>a>input:hover {
	background: #3399ff;
	border: 1px solid #6cf;
	border-radius: 2px;
	text-decoration: none;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-decoration: none;
	outline: none;
}

/************** For Login.jsp **********************/
div.content .main-content {
	float: right;
	width: 72%;
	height: auto;
	margin-left: 1px;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	box-shadow: 0 0 30px #97cbff;
	-moz-box-shadow: 0 0 30px #97cbff;
	-webkit-border-radius: 0 0 30px #97cbff;
}
/*
header>h3>span {
	color: #d51341;
	font-family: algerian;
	font-size: 300%;
	line-height: 50%;
	width: 0.8em;
	padding-left: 15px;
}

.login-div{
	
}*/

table {
	width: 100%;
	border-spacing: 0em 1em;
	table-layout: fixed;
}

table .login-text {
	width: 30%;
	font-weight: bold;
}

table .login-input {
	width: 60%;
}

table .login-input>input {
	min-width: 92%;
	width: auto;
	height: 16px;
	color: #9e9e9e;
	font-size: 14px;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #6cf;
	outline: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	line-height: 20px;
}

table .login-input>input:focus {
	outline: none;
	border: 1px solid #6cf;
	box-shadow: 0 0 10px #6ab5ff;
	-moz-box-shadow: 0 0 10px #6ab5ff;
	-webkit-border-radius: 0 0 10px #6ab5ff;
}

table .login-button {
	width: 60%;
}

table .login-button>input {
	cursor: pointer;
	width: 100%;
	text-align: center;
	font-size: 12px;
	background: #f1f1f1;
	padding: 5px 6px;
	border: 1px solid #6cf;
	/*border: 1px solid #a4c3ca;*/
	font-weight: bold;
	color: #33cc33;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-decoration: none;
	outline: none;
}

table .login-button>input:hover {
	background: #3399ff;
	border: 1px solid #6cf;
	border-radius: 2px;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-decoration: none;
	outline: none;
}

table .create-text {
	width: 30%;
}

table .create-button {
	width: 60%;
}

table .create-button>a>input {
	width: 96%;
	height: auto;
	background: #3399ff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding: 4px;
	border: 1px solid #6cf;
	outline: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

/*********** home.jsp ******************/
.home_table{
	width:96%;
	padding:4px;
}

.home_table>table{
    border-spacing: 0em 3em;
}

.home_table .home_img {
	width: 20%;
}

.home_table .home_text {
	width: 60%;
	text-align:center;
}

.home_table .home_text .text_num{
	margin-top:10%;
	float:left;
	width:15%;
	
}

.home_table .home_text .text_desc{
	float:right;
	width:85%;
	font-family:'Robot Slab';
}

.text_num .number {	
	color: #75c8ff;
	font-family: algerian;
	font-size: 400%;
	line-height: 50%;
	width: 0.8em;
	font-weight: bold;
}


.text_desc .desc {
	font-size:22px;	
	color:#494A4A;
}

.text_desc p{
	font-size:18px;
	color:#7A7C7C;
}

/*********** createoffer.jsp ******************/
table.newOffer {
	width: 100%;
	border-spacing: 0em 2em;
	table-layout: fixed;
	padding:4px;
}


table.newOffer .label {
	width: 20%;
	font-weight: bold;
}

table.newOffer .input-td {
	width: 60%;
}

#container textarea{
	overflow-y: hidden; /* prevents scroll bar flash */
	/*padding-top: 1.1em;  prevents text jump on Enter keypress */
	resize: none;
	border: 0 none white;
	outline: none;
	background-color: #d0d0d0;
	resize: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	width:90%;
	color: red;
	font-size: 15px;
	padding: 2px 4px 2px 4px;
}

.buttonSD {
	width: 60%;
}

.buttonSD>input {
	width: 50%;
	height: auto;
	background: #3399ff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding: 4px;
	border: 1px solid #6cf;
	outline: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

/*********** messages.jsp ******************/
div.message {
	margin-bottom: 20px;
	border-bottom: 1px dashed brown;
}

span.subject {
	font-size: normal;
	color: brown;
	font-weight: bold;
	display: block;
}

span.messagebody {dislay .block;
	font-style: italic;
	display: block;
}

span.name {
	color: brown;
	font-size: normal;
	display: block;
}

form.replyform {
	padding: 10px 0;
	display: none;
}

textarea.replyarea {
	margin-bottom: 5px;
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

input.button {
	width: 50px;
	padding: 4px 6px;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

a.replylink:link {
	color: brown;
}

span.alert {
	display: block font-weight: bold;
	color: green;
}